/* NAVBAR */
.navbar-brand {
    position: relative;
    padding-right: 40px; /* Espaço entre o Título e o Search Field */
}

#logo {
    margin-left: 10px;
    width: 50px;
}

#moviemania-title {
    color: #FFF;
    position: absolute;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
    top: 13%;
    margin-left: 10px;
}

#main-navbar {
    background-color: #121212;
}

#search-form {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
}

#search-form .form-control {
    border: none;
    width: 80%;
    box-shadow: none;
}

#navbar {
    min-width: 30%;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: #FFF;
    transition: .5s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #999;
}

.navbar-nav .nav-item .nav-link.bold {
    font-weight: bold;
}

/* .bold {
    font-weight: bold;
} */

/* HEADER - MENSAGENS */

.msg-container {
    background-color: #000;
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
}

.msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}

/* HOME */

#main-container {
    background-color: #000;
    color: #FFF;
    min-height: 65vh;
    padding: 40px;
}

.section-title {
    font-size: 24px;
    border-left: 4px solid #FF0037;
    padding-left: 12px;
    margin-top: 20px;
}

.section-description {
    color: #CCC;
    font-size: 18px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.movie-card {
    background-color: #1A1A1A !important;
    width: 18%;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.movie-card .card-img-top {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-title {
    height: 3rem;
}

.card-title a {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.fas.fa-star {
    color: #F5C518;
}

.rating {
    color: #CCC;
}

.rate-btn {
    margin-bottom: 15px;
    color: #5799EF !important;
    background-color: #333 !important;
    border-color: #333 !important;
    width: 100%;
    font-weight: bold !important;
}

.rate-btn:hover {
    color: #FFF !important;
    background-color: #444 !important;
    border-color: #444 !important;
}

.empty-list {
    text-align: center;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

/* LOGIN / REGISTER */

#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #FF0037;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;
}

.form-group {
    margin-bottom: 20px;
}

/* #btn-ent-reg {
    margin-top: 15px;
} */

.card-btn {
    margin-top: 15px;
    color:#000 !important;
    background-color: #FF0037 !important;
    border: 2px solid #FF0037 !important;
    width: 100%;
}

.card-btn:hover {
    color:#FF0037 !important;
    background-color: transparent !important;
    border-color: #FF0037 !important;
}

/* EDIT PROFILE */

#profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #FF0037;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

#page-description {
    color: #999;
}

#bio {
    max-width: 450px;
}

.form-control.disabled {
    background-color: #BBB;
}

.edit-profile-page .card-btn {
    width: auto;
}

#change-password-container {
    margin-top: 30px;
}

/* DASHBOARD */

#add-movie-container {
    text-align: right;
}

#add-movie-container .card-btn {
    text-align: right;
    width: auto;
    max-width: 220px;
}

#movies-dashboard .table {
    --bs-table-color: #FFF; /* color */
    --bs-table-bg: #000; /* background-color */
    margin-top: 30px;
}

#movies-dashboard .table th {
    border-top: none;
}

#movies-dashboard .table tr {
    padding: 15px 0;
}

.table-movie-title {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

.table-movie-title:hover {
    color: #FF0037;
}

.actions-column {
    max-width: 75px;
    text-align: center;
}

.actions-column form {
    display: inline-block;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    transition: .5s;
    border: none;
}

.edit-btn {
    background-color: #0DCAF0;
    color: #FFF;
    text-decoration: none;
}

.edit-btn:hover {
    background-color: transparent;
    color: #0DCAF0;
}

.delete-btn {
    background-color: #DC3545;
    color: #FFF;
}

.delete-btn:hover {
    background-color: transparent;
    color: #DC3545;
}


/* NEW MOVIE */

.new-movie-container {
    text-align: center;
}

#add-movie-form {
    text-align: left;
}

.movie-image-container {
    height: 400px;
    min-width: 200px;
    background-position: center;
    background-size: cover;
}

.page-title:after {
    content: "";
    width: 300px;
    border-bottom: 2px solid #FF0037;
    display: block;
    margin: 0 auto;
    padding-top: 7px;
}

/* FOOTER */

#footer {
    background-color: #000;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style-type: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: .5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: #FFF;
  transition: .5s;
  text-decoration: none;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}
