/* NAVBAR */
.navbar-brand {
    position: relative;
    padding-right: 40px; /* Espaço entre o Título e o Search Field */
}

#logo {
    margin-left: 10px;
    width: 50px;
}

#moviemania-title {
    color: #FFF;
    position: absolute;
    font-size: 30px;
    left: 55px;
    font-weight: bold;
    top: 13%;
    margin-left: 10px;
}

#main-navbar {
    background-color: #121212;
}

#search-form {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
}

#search-form .form-control {
    border: none;
    width: 80%;
    box-shadow: none;
}

#navbar {
    min-width: 30%;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: #FFF;
    transition: .5s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #999;
}

.navbar-nav .nav-item .nav-link.bold {
    font-weight: bold;
}

/* .bold {
    font-weight: bold;
} */

/* HEADER - MENSAGENS */

.msg-container {
    background-color: #000;
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
}

.msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
}

.msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}

/* HOME */

#main-container {
    background-color: #000;
    color: #FFF;
    min-height: 65vh;
    padding: 40px;
}

/* LOGIN / REGISTER */

#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #FF0037;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;
}

.form-group {
    margin-bottom: 5px;
}

/* #btn-ent-reg {
    margin-top: 15px;
} */

.card-btn {
    margin-top: 15px;
    color:#000 !important;
    background-color: #FF0037 !important;
    border: 2px solid #FF0037 !important;
    width: 100%;
}

.card-btn:hover {
    color:#FF0037 !important;
    background-color: transparent !important;
    border-color: #FF0037 !important;
}

/* EDIT PROFILE */

#profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #FF0037;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

#page-description {
    color: #999;
}

#bio {
    max-width: 450px;
}

.form-control.disabled {
    background-color: #BBB;
}

.edit-profile-page .card-btn {
    width: auto;
}

/* FOOTER */

#footer {
    background-color: #000;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style-type: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: .5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: #FFF;
  transition: .5s;
  text-decoration: none;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}
